:root {
  /*-----------------------------------*\
    #COLORS
  \*-----------------------------------*/
  --platinum: #e6e6e6;
  --black_70: #000000b3;
  --white: #ffffff;
  --black: #000000;
  --orange: #f06000;
  --off-white: #f2f2f2;

  /*-----------------------------------*\
    #TYPOGRAPHY
  \*-----------------------------------*/
  --ff-poppins: "Poppins", sans-serif;
  --fs-1: 4.2rem;
  --fs-2: 3.8rem;
  --fs-3: 3.2rem;
  --fs-4: 2.5rem;
  --fs-5: 2.4rem;
  --fs-6: 2rem;
  --fs-7: 1.8rem;
  --fs-8: 1.5rem;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  /*-----------------------------------*\
    #BORDER RADIUS
  \*-----------------------------------*/
  --radius-4: 4px;
  --radius-12: 12px;

  /*-----------------------------------*\
    #SPACING
  \*-----------------------------------*/
  --section-padding: 60px;

  /*-----------------------------------*\
    #TRANSITION
  \*-----------------------------------*/
  --transition-1: 0.15s ease;
  --transition-2: 0.35s ease;
  --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-out: cubic-bezier(0.33, 0.85, 0.56, 1);

  /*-----------------------------------*\
    #SHADOW
  \*-----------------------------------*/
  --shadow: 0 5px 20px 1px hsla(220, 63%, 33%, 0.1);
}

/*-----------------------------------*\
  #REUSED PROPERTY
\*-----------------------------------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

pre {
  font-family: inherit;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a {
  color: #000;
  text-decoration: none;
}

a:visited {
  color: inherit;
}


a,
img,
span,
input,
button,
i {
  display: block;
}

button,
input {
  background: none;
  border: none;
  font: inherit;
}

button {
  cursor: pointer;
}

input {
  width: 100%;
}

i {
  pointer-events: none;
}

img {
  height: auto;
}

address {
  font-style: normal;
}

html {
  font-family: var(--ff-poppins);
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--off-white);
  font-size: 1.6rem;
}

main {
  height: fit-content;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: hsl(0, 0%, 95%);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 80%);
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(0, 0%, 70%);
}


.logo_text{font-size: 16px;}

.visually-hidden{
  display: none;
}
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
                                                        /*-----------------------------------*\
                                                                    #BUTTON CLASSES
                                                        \*-----------------------------------*/
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.button {
  display: inline-block;
  padding: 4px 8px;
  background-color: var(--black);
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.cart-summary-btn {
  font-size: 1rem;
}
.view-btn {
  margin-bottom: 10px;
  font-size: 1.3rem;
  background-color: var(--black);
}

/* product cart button style */
.cart-btn-product {
  font-size: 1.5rem;
  margin-top: 5px;
  text-align: center;
}

.cart-summary-btn,
.view-btn,
.cart-btn-product{
  transition: background-color 0.3s ease;
}

/* product cart button style */
.cart-btn,
.buy-btn,
.delete-btn {
  transition: background-color 0.3s ease;
  font-size: 1.5rem;
}
.cart-btn,
.buy-btn{
  background-color: var(--orange);
}

.buy-btn:hover {
  background-color: var(--dark-orange);
}

.sale-badge {
  background-color: var(--orange);
  color: white;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  right: 10px;
  position: absolute;
}
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
                                                        /*-----------------------------------*\
                                                                    #BASE/NAVBAR
                                                        \*-----------------------------------*/
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/*-------------*\
    #CONTAINER
\*-------------*/

/* CONTAINER */
.container {
  padding-inline: 15px;
  position: relative;
}
/* BOTTOM CONTAINER */
.bottom-header > .container {
  padding-inline: 0px;
}

/* CONTAINER INNER */
.container-inner {
  padding-inline: 15px;
  padding-bottom: 10px;
}

/* TOP-HEADER CONTAINER */
.top-header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 10px;
}

/*---------------*\
    #BRAND & TEXT
\*---------------*/

/* BRAND-CONTAINER */
.brand-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* BRAND CONTAINER H2 */
.brand-container > h2 {
  font-size: 15px;
}

/* BRAND LOGO ICON */
.fa-solid.fa-gift {
  font-size: 35px;
}

/* TOP HEADER BUTTON WRAPPER */
.topheader-btn-wrapper {
  display: flex;
  align-items: center;
  margin-left: auto;
}

/* USER CHEV WRAPPER FOR USER ICON AND DROPDOWN CHEV ICON */
.user-chev-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-left: auto;
  padding-right: 1rem;
  color: #000;
}
/* CART WRAPPER FOR ICON AND NUMBER SPAN */
.cart-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-left: auto;
  padding-right: 1.2rem;}

#cart_quantity{  
  align-items: center;
  background: var(--orange);
  border-radius: 100%;
  width: 2px;
  padding: 10px;
  height: 2px;
  display: flex;
  justify-content: center;
  color: var(--white);
font-size: 12px;}

/*-------------*\
    #TOP HEADER
\*-------------*/

/* TOP HEADER SECTION */
.top-header {
  position: relative;
  background-color: var(--platinum);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.top-header > .container{
  max-width: 1240px;
  margin: 0 auto;
}
.container-inner{
  max-width: 1240px;
  margin: 0 auto;

}
/*-----------------------------------*\
    #USER-DROPDOWN
\*-----------------------------------*/

.muted {
  background-color: var(--dark-platinum);
  width: calc(100%); /* Add 10px padding to both sides */
  cursor: default;
}


/* DROPDOWN */
.dropdown {
  display: inline-block;
}

/* DROPDOWN TOGGLE */
.dropdown-toggle {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #000;
}

/* DROPDOWN MENU */
.dropdown-menu {
  position: absolute;
  background-color: var(--platinum);
  min-width: 155px;
  font-size: 13px;
  z-index: 101;
  top: 5.7rem;
  right: 1px; /* Adjust as needed */
  text-align: left;
  overflow: hidden;
  opacity: 0;
  max-height: 0;
  transition: cubic-bezier(0.51, 0.03, 0.64, 0.28) 0.2s;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
  rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

/* DROPDOWN MENU SHOW CLASS */
.dropdown-menu.show {
  opacity: 1;
  max-height: 500px; /* Adjust the max-height to accommodate the content */
}

/* DROPDOWN WRAPPER */
.dropdown-wrapper {
  display: flex;
  align-items: center;
  padding: 5px 10px; /* Padding for left, right, and bottom sides */

}

/* DROPDOWN WRAPPER ICON */
.dropdown-wrapper i {
  margin-right: 10px; /* Adjust as needed for the space between the icon and text */
  flex-basis: 20px;
}

/* DROPDOWN ITEM */
.dropdown-item {
  text-align: left;
  padding-block: 3.3px;
}

/* DROPDOWN ITEM ROTATE */
.rotate-up {
  transform: rotate(180deg);
  transition: transform 0.3s ease; /* Add smooth transition for animation */
}

/* DROPDOWN ITEM ROTATE */
.rotate-down {
  transform: rotate(0deg);
  transition: transform 0.3s ease; /* Add smooth transition for animation */
}

/*-------------*\
    #HAMBURGER
\*-------------*/

/* HAMBURGER CURSOR */
.hamburger {
  cursor: pointer;
  margin-right: 0.5rem;
}
/* ALL THREE LINES */
.bar {
  width: 20px;
  height: 2px;
  margin: 5px;
  background-color: #000;
}

/* Styling for the cross state */
.cross .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-7px, 3px);
}

.cross .bar:nth-child(2) {
  opacity: 0;
}

.cross .bar:nth-child(3) {
  transform: rotate(45deg) translate(-7px, -3px);
}

/* Transition for smooth animation */
.js-menuToggle .bar {
  transition: transform 0.3s ease, opacity 0.3s ease; /* Add smooth transition for animation */
}


/*----------------*\
    OVERLAY
\*----------------*/

/* OVERLAY */
.js-navOverlay {
  position: fixed;
  margin-top: 108px;
  inset: 0;
  background-color: rgb(0, 0, 0, 0.6);
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  transition: cubic-bezier(0.51, 0.03, 0.64, 0.28) 0.3s;
}

/* OVERLAY JS CLASS */
.js-navOverlay.active {
  opacity: 1;
}

/*----------------*\
    #PUSH-NAV
\*----------------*/

/* PUSHNAV RESET */
ul.pushNav {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/* PUSHNAV / MOIBLE DROP DOWN MENU */
.pushNav {
  height: 100%;
  position: fixed;
  top: 108px;
  z-index: 100;
  overflow: hidden;
  background: var(--platinum);
  width: 100%;
  right: -100%;
  transition: cubic-bezier(0.51, 0.03, 0.64, 0.28) 0.3s;
  overflow-y: scroll;
}


.pushNavEndListItem {
  padding-bottom: 12px;
}

.mobileMenuIsOpen {
  overflow: auto;
  height: 100%;
}

/* PUSHNAV JS CLASS FOR THE MENU TO SLIDE IN BAK TO 0 */
.js-pushmobileMenu.isOpen,
.pushNav_Level_Right.isOpen {
  right: 0;
}


/* PUSHNAV LEVEL CURSOR */
.closeLevel,
.openLevel {
  cursor: pointer;
}

/* PUSHNAV LEVEL LINKS */
.openLevel,
.pushNav a {
  padding: 1em 0;
  display: flex;
  justify-content: left;
  gap: 2rem;
  align-items: center;
  transition: background 0.3s ease-in-out;
  padding-left: 23px;
  padding-right: 30px;
  border-bottom: 1px solid rgb(0, 0, 0, 0.4);
}

/* PUSHNAV LEVEL ICONS */
.openLevel i {
  flex-basis: 20px;
  text-align: center;
}
/* PUSHNAV LEVEL ICONS */
.pushNav i {
  flex-basis: 20px;
  text-align: center;
}
/* PUSHNAV LEVEL ICONS */
.pushNav_Level_Right i {
  flex-basis: 20px;
  text-align: center;
}

/* PUSHNAV LEVEL ICONS */
.openLevel > .fa-chevron-right {
  margin-left: auto;
}

/*---------------*\
    #SEARCH-INPUT
\*---------------*/

/* SEARCH BOX */
.search-box {
  background-color: #fff;
  border: 1px solid #000;
  display: flex;
  align-items: center; /* Align items vertically */
}

/* SEARCH BOX BUTTON DIMENSIONS*/
.search-box button {
  width: 40px;
  height: 40px;
}

/* SEARCH BOX INPUT */
.search-box input {
  flex: 1; /* Take up remaining space */
  padding-left: 10px;
  outline: none;
}

/* SEARCH BUTTON & ICON */
.search-btn {
  background-color: #000;
  color: #fff;
  padding: 3px;
}

/* CLOSE BUTTON & ICON */
.close-btn {
  font-size: 20px;
  background-color: #000;
  color: #fff;
  padding: 3px;
  display: none;
}

/* CLOSE BUTTON JS CLASS */
.close-btn.active {
  display: block;
}

.autocomplete-image {
  width: 60px;
}

.ui-autocomplete {
max-height: 200px;
overflow-y: auto;
overflow-x: hidden;
padding-left: 0;
}

.ui-autocomplete .ui-menu-item {
display: flex; /* Use flexbox to align image and text */
align-items: center; /* Align items vertically */
padding: 5px; /* Add padding */
font-size: 12px;
}

.ui-autocomplete .ui-menu-item img {
width: 60px;
height: 50px;
object-fit: cover;
}
.ui-autocomplete .ui-menu-item li {
border-bottom: 1px solid black; /* Add bottom border to each list item */
}

.ui-autocomplete .ui-menu-item span {
flex-grow: 1;
}


.ui-autocomplete {
position: absolute; /* Ensure absolute positioning */
/* Adjust the top and left positions as needed */
top: 100px;
left: 100px;
}

/*-----------------------------------------------*\
    TOP-LEVEL-DISPLAY-FOR-NAV-&-BREADCRUMB
\*-----------------------------------------------*/
.shoplop {
  padding: 1em 0;
  display: flex;
  justify-content: left;
  gap: 1rem;
  align-items: center;
  transition: background 0.4s ease-in-out;
  padding-left: 24px;
  padding-right: 30px;
}
.closeLevel {
  padding: 1em 0;
  display: flex;
  justify-content: left;
  gap: 1rem;
  align-items: center;
  transition: background 0.4s ease-in-out;
  padding-left: 20px;
  padding-right: 30px;
}
.breadcrumb {
  padding: 1em 0;
  display: flex;
  justify-content: left;
  gap: 1rem;
  align-items: center;
  transition: background 0.4s ease-in-out;
  padding-left: 25px;
  padding-right: 30px;
}

/* BACKGROUND HOVER CLASSES */
.openLevel:hover,
.closeLevel:hover,
.breadcrumb:hover,
.pushNav a:hover {
  background: var(--orange);
}

.hdg {
  background-color: #cfcfcf;
  opacity: 1;
}
.hdgbread {
  background-color: #cfcfcf;
  opacity: 1;
  z-index: 1;
}

.nav-title {
  font-weight: 700;
}
/* CLOSE/GOBACK ICON & COLOR */
.closeLevel,
.closelevel > i {
  font-size: 1em;
  color: var(--black);
}

/*-----------------------------------*\
    #DJANGO-MESSAGES
\*-----------------------------------*/

/* MESSAGE WRAPPER */
.message-wrapper {
  display: flex;
  justify-content: space-around;
}
/* MESSAGE ALERT */
.alert {
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  position: relative;
  font-size: small;
}

/* SUCCESS */
.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
  text-align: center;
}

/* WARNING */
.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
  text-align: center;
}
/* CLOSE BUTTON */
.btn-close {
  position: absolute;
  top: 50%;
  right: 24px;
  color: inherit;
  border: 0;
  transform: translateY(-50%);
  padding: 0.5rem;
  cursor: pointer;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
                                                        /*-----------------------------------*\
                                                                    #FOOTER
                                                        \*-----------------------------------*/
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* FOOTER */
footer {
  background-color: var(--platinum);
  color: var(--secondary-color);
  padding-block: 20px;
  text-align: center;
}

/* FOOTER-FLEX-WRAPPER */
.footer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* FOOTER-SELECTION-TYPE-CHILD-ONE */

.footer-section {
  padding-block: 20px;
}

/* FOOTER-BTN-ICONS */
.footer-btn i {
  margin-left: auto;
}

/* FOOTER-H2-HR-STYLES */
.footer-wrapper > hr {
  width: 100%;
  background-color: var(--secondary-color);
}
/*--------------------*\
    #NEWSLETTER-INPUT
\*--------------------*/
.newsletter {
  margin: auto;
}
.newsletter-input {
  background-color: #fff;
  border: 1px solid #000;
  display: flex;
  align-items: center; /* Align items vertically */
  height: 40px;
  text-align: center;
}

/*--------------------*\
    #FOOTER-BTN-ICONS
\*--------------------*/

.btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.newsletter button {
  background-color: #000;
  color: #fff;
  padding: 5px 20px; /* Adjust padding */
  margin: 20px; /* Adjust margin */
}

/*-------------------------------*\
    #FOOTER-LINKS-GRID-CONTAINER
\*-------------------------------*/
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  text-align: center;
  max-width: 335px;
  margin: 0 auto;
  padding-block: 20px;
}
.grid-container h2 {
  position: relative;
  z-index: 1;
}

/*----------------------*\
    #FOOTER-LINKS-COLOR
\*----------------------*/
.grid-item ul a {
  text-decoration: none;
  color: var(--secondary-color);
}

/*-------------------------*\
    #H2-FOOTER-TITLE-LINKS
\*-------------------------*/
.h2-footer-title {
  font-size: 1.5rem;
  font-weight: 900;
  padding-bottom: 15px;
  letter-spacing: 1px;
}

/*-----------*\
    #PADDING
\*-----------*/
.pt-15 {
  padding-top: 15px;
}
.pt-3 {
  padding-block: 3px;
}

/*---------------------------*\
    #FOOTER-TEXT-MUTED-CLASS
  \*---------------------------*/
.text-muted {
  opacity: 0.8;
}

/*-------------------------------------*\
    #FOOTER-ICONS-CICRLE-FLEX-CONTAINER
\*-------------------------------------*/
.footer-icons {
  margin-block: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/*------------------*\
  ¦---FOOTER-ICONS-I
\*------------------*/
.footer-icons i {
  font-size: 40px;
  color: var(--black);
  margin-top: 4px;
}

/*---------------------------*\
    #FOOTER-ICONS-LIST-ITEMS
\*---------------------------*/

.footer-icons li {
  background-color: var(--fourth-color);
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 20px;
}



/* ////////////////////////////////////// */

.order-item {
  padding: 10px;
  background-color: rgb(233, 233, 233);
  margin-bottom: 10px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.checkout-img {
  border-radius: 100%;
}


.btn-small {
  font-size: xx-small;
  border: none;
  border-radius: 50px;
  background: var(--orange);
  color: #fff;
  font-weight: 600;
  margin: 10px;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  padding: 5px;
}

/* Tables */
.table {
width: 100%;
border-collapse: collapse;
}

.table th,
.table td {
text-align: center;
border-bottom: 1px solid var(--platinum);
}

.table th {
background-color: var(--off-white);  

}

.table tbody tr:nth-child(even) {
background-color: var(--platinum);
}

body > main > div > div > div > table:nth-child(4) > thead > tr > th:nth-child(3){
width: 100px;
}
body > main > div > div > div > table:nth-child(3) > thead > tr > th:nth-child(3){
width: 100px;
}
body > main > div > div > div > table:nth-child(2) > thead > tr > th:nth-child(3){
width: 30px;
}
body > main > div > div > div > table:nth-child(1) > thead > tr > th:nth-child(3){
width: 30px;
}


@media (min-width: 1024px) {

/* PUSHNAV JS CLASS FOR THE MENU TO SLIDE IN BAK TO 0 */
.js-pushmobileMenu.isOpen,
.pushNav_Level_Right.isOpen {
  right: -50%;
}

.openLevel > .fa-chevron-right{
  margin-left:0;
}

}