{% extends 'base.html' %}
{% load static %}

{% block title %}Beds{% endblock %}

{% block breadcrumbs %}
<!-- Breadcrumbs -->
<a class="nav-title breadcrumb hdgbread" href="{% url 'home' %}">
    <i class="fa fa-chevron-left"></i>
    Home
</a>
{% endblock %}

{% block content %}

<!-- Container -->
<div class="container">
    
    <!-- Line Break -->
    <br>
    
    <!-- Page Title -->
    <h1>{{ category.name }}</h1>
    
    <!-- Category Image -->
    <div class="image-wrapper">
        {% if category.image %}
        <img class="category-image" src="{{ category.image.url }}" alt="{{ category.name }}">
        {% endif %}
        
        <!-- Category Description -->
        <div class="category-image-desc">
            Quality beds for sale: Comfort, style, and affordability combined.
        </div>
    
    </div>
    
    <!-- Line Break -->
    <br>
    
    <!-- Product Card For Loop For Sale/No-Sale -->
    <div class="item-card-grid">
        {% for product in products %}
        {% if product.is_sale %}
        
        <!-- The Sale Card -->
        <div class="item-card">
            
            <!-- Sale Badge -->
            <div class="sale-badge">
                SALE
            </div>
            
            <!-- For Loop For Product Image -->
            {% with product.images.first as first_image %}
            {% if first_image %}
            <img src="{{ first_image.image.url }}" alt="{{ product.name }} Image">
            {% endif %}
            {% endwith %}
            
            <!-- The Card Content -->
            <div class="card-content">
                
                <!-- Card Product Name -->
                <h3 class="card-title">{{ product.name }}</h3>
                
                <!-- Card Review Stars -->
                <div class="review-stars">
                    <span class="star">&#9733;</span>
                    <span class="star">&#9733;</span>
                    <span class="star">&#9733;</span>
                    <span class="star">&#9733;</span>
                    <span class="star">&#9734;</span> <!-- Example of an empty star for a 4-star rating -->
                </div>
                
                <!-- Card Description -->
                <p class="card-desc">In: {{ product.category }} <br> {{ product.description|truncatechars:50 }}</p>
                
                <!-- Card Price -->
                <p class="card-desc"><strike>£{{ product.price }}</strike> &nbsp; £{{ product.sale_price }}</p>
                
                <!-- View Product Button -->
                <a href="{% url 'product' product.id %}?next={{ request.path }}" class="button view-btn">View Product</a>
                
                <!-- Add To Cart Button -->
                <button value="{{ product.id }}" class="button cart-btn">
                    Add to cart
                </button>
            
            </div>
        
        </div>
        
        {% else %}
        
        <!-- The No-Sale Card -->
        <div class="item-card">
            
            <!-- For Loop For Product Image -->
            {% with product.images.first as first_image %}
            {% if first_image %}
            <img src="{{ first_image.image.url }}" alt="{{ product.name }} Image">
            {% endif %}
            {% endwith %}
            
            <!-- The Card Content -->
            <div class="card-content">
                
                <!-- Card Product Name -->
                <h3 class="card-title">{{ product.name }}</h3>
                
                <!-- Card Review Stars -->
                <div class="review-stars">
                    <span class="star">&#9733;</span>
                    <span class="star">&#9733;</span>
                    <span class="star">&#9733;</span>
                    <span class="star">&#9733;</span>
                    <span class="star">&#9734;</span> <!-- Example of an empty star for a 4-star rating -->
                </div>
                
                <!-- Card Description -->
                <p class="card-desc">In: {{ product.category }} <br> {{ product.description|truncatechars:50 }}</p>
                
                <!-- Card Price -->
                <p class="card-desc">£{{ product.price }}</p>
                
                <!-- View Product Button -->
                <a href="{% url 'product' product.id %}?next={{ request.path }}" class="button view-btn">View Product</a>
                
                <!-- Add To Cart Button -->
                <button value="{{ product.id }}" class="button cart-btn">
                    Add to cart
                </button>
            
            </div>
        
        </div>
        
        {% endif %}
        {% endfor %}
    
    </div>

</div>

<!-- Variables From JS -->
<script>
    var cartAddUrl = "{% url 'cart_add' %}";
    var csrfToken = '{{ csrf_token }}';
    let productList = "{% url 'product_list' %}";
</script>

<!-- JS Script -->
<script src="{% static 'js/cart_button_category.js' %}"></script>
<script src="{% static 'js/searchproducts.js' %}"></script>


{% endblock %}