{% load static %}

<!DOCTYPE html>
<html lang="en">

<!-- HEAD -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/categories.css' %}">
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    <link rel="stylesheet" href="{% static 'css/product_page.css' %}">
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/all.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.3/themes/base/jquery-ui.css">

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.13.3/jquery-ui.js"></script>
    <title>{% block title %}LotsOfPresents®{% endblock %}</title>
</head>

<!-- BODY -->

<body>

    <header>
        <!-- HEADER -->
        <!-- top header -->
        <div class="top-header">
            <div class="container">

                <!--  Logo and Icon -->
                <div class="brand-container">
                    <a href="{% url 'home' %}" aria-label="Home"><i class="fa-solid fa-gift"></i></a>
                    <h1 class="logo-text">LotsOfPresents</h1>
                </div>

                <!-- User Buttons & Cart -->
                <div class="topheader-btn-wrapper">
                    <div class="dropdown">
                        {% if user.is_authenticated %}
                        <button class="dropdown-toggle" type="button" id="dropdownMenuButton" aria-haspopup="true"
                            aria-expanded="false">
                            <div class="user-chev-wrapper">

                                <i class="fa-solid fa-user"></i>
                                <small><i class="fa fa-chevron-down"></i></small>
                            </div>
                        </button>
                        {% else %}
                        <a class="login_user" href="{% url 'login' %}">
                            <i class="fa-regular fa-user"></i>
                            <small>Login</small>
                            &nbsp;
                        </a>
                        {% endif %}

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            {% if user.is_authenticated %}

                            <div class="dropdown-wrapper muted">
                                <i class="fa-solid fa-user"></i>
                                <a class="dropdown-item muted" href="#"> <strong>{{ user.username|capfirst }}</strong>
                                </a>
                            </div>

                            <div class="dropdown-wrapper">
                                <i class="fa-solid fa-gear"></i>
                                <a class="dropdown-item" href="{% url 'update_user'%}"> Account Details</a>
                            </div>
                            <hr>
                            <div class="dropdown-wrapper">
                                <i class="fa-solid fa-truck"></i>
                                <a class="dropdown-item" href="{% url 'update_info'%}"> Shipping Details</a>
                            </div>
                            <hr>
                            <div class="dropdown-wrapper">
                                <i class="fa-solid fa-bags-shopping"></i>
                                <a class="dropdown-item" href="{% url 'my_orders'%}"> My Orders</a>
                            </div>
                            <hr>
                            <div class="dropdown-wrapper">
                                <i class="fa-solid fa-right-from-bracket"></i>
                                <a class="dropdown-item" href="{% url 'logout'%}">Logout</a>
                            </div>
                            <!-- Add other dropdown options here -->
                            {% endif %}
                        </div>
                    </div>

                    <a href="{% url 'cart_summary' %}">
                        <div class="cart-wrapper">
                            <i class="fa fa-shopping-cart"></i>
                            <small><span id="cart_quantity" class="cart-items">{{ cart|length }}</span></small>
                        </div>
                    </a>

                </div>

                <!-- Hamburger -->
                <div class="hamburger js-menuToggle">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>

            </div>

            <!-- Search Box -->
            <form action="{% url 'search_product' %}" method="POST">
                {% csrf_token %}
                <div class="container-inner">
                    <div class="search-box">
                        <button class="close-btn" type="button" aria-label="Close search"><i
                                class="fa-solid fa-xmark"></i></button>
                        <label for="search-input" class="visually-hidden">Search</label>
                        <input required type="text" id="search-input" name="productsearch" class="searchproducts"
                            placeholder="Search">
                        <button class="search-btn" type="submit" aria-label="Search"><i
                                class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                </div>
            </form>



        </div>


        <!-- mobile menu -->
        <div class="js-navOverlay"></div>

        <div class="bottom-header">

            <div class="container">
                <nav>

                    <nav>
                        <ul>
                            {% block breadcrumbs %}
                            <!-- Breadcrumbs will be rendered here -->
                            {% endblock %}
                        </ul>
                    </nav>

                    <!-- Unordered List -->
                    <ul class="pushNav js-pushmobileMenu">

                        <!-- List Item -->
                        <li class="nav-title shoplop hdg">
                            Shop With LotsOfPresents®
                        </li>

                        <!-- List Item Link -->
                        <li>
                            <a href="{% url 'home' %}">
                                <i class="fa fa-home"></i>
                                Home
                            </a>
                        </li>


                        <!-- Begin section 1 -->

                        <li>
                            <!-- Home & Furniture Section Start -->
                            <div class="openLevel js-openLevel">
                                <i class="fa-solid fa-list-ul"></i>
                                Shop All Categories
                                <i class="fa fa-chevron-right"></i>
                            </div>

                            <!-- First Section Unordered List Level 1 -->
                            <ul class="pushNav pushNav_Level_Right js-pushNavLevelBack">

                                <!-- Mobile Navbar Push Level Back Navigation -->
                                <li class="nav-title closeLevel js-closeLevel hdg">
                                    <i class="fa fa-chevron-left"></i>
                                    Go Back
                                </li>

                                <!-- Home & Furniture Push Link -->
                                <li>

                                    <!-- Home & Furniture Push Link -->
                                    <div class="openLevel js-openLevel">
                                        <i class="fa-solid fa-house-heart"></i>
                                        Home & Furniture
                                        <i class="fa fa-chevron-right"></i>
                                    </div>

                                    <!-- All Home & Furniture Items in a UL list -->
                                    <ul class="pushNav pushNav_Level_Right js-pushNavLevelBack">

                                        <!-- Back Button -->
                                        <li class="nav-title closeLevel js-closeLevel hdg">
                                            <i class="fa fa-chevron-left"></i>
                                            Go Back
                                        </li>


                                        <!-- Shop All Home & Furniture Link -->
                                        <li>
                                            <a href="{% url 'category' 'Home & Furniture' %}" class="openLevel">
                                                <i class="fa-solid fa-list-ul"></i>
                                                Shop All Home & Furniture
                                                <div class=""></div>
                                            </a>
                                        </li>

                                        <!--  Bedroom Push Links -->
                                        <li>
                                            <!-- Bedroom Push Link -->
                                            <div class="openLevel js-openLevel">
                                                <i class="fa-solid fa-bed-front"></i>
                                                Bedroom
                                                <i class="fa fa-chevron-right"></i>
                                            </div>

                                            <!-- All Bedroom Items in a UL list -->
                                            <ul class="pushNav pushNav_Level_Right js-pushNavLevelBack">
                                                <!-- Back Button -->
                                                <li class="nav-title closeLevel js-closeLevel hdg">
                                                    <i class="fa fa-chevron-left"></i>
                                                    Go Back
                                                </li>

                                                <!-- Link 1: Beds -->
                                                <li>
                                                    <a href="{% url 'category' 'Beds' %}">
                                                        <i class="fa-solid fa-bed-front"></i>
                                                        Beds
                                                    </a>
                                                </li>

                                                <!-- Link 7: All Bedroom Furniture -->
                                                <li>
                                                    <a href="{% url 'category' 'Bedroom' %}">
                                                        <i class="fa-solid fa-border-all"></i>
                                                        All Bedroom Furniture
                                                    </a>
                                                </li>


                                            </ul>

                                        </li>

                                        <!--  Living-Room Push Links -->
                                        <li>
                                            <div class="openLevel js-openLevel">
                                                <i class="fa-solid fa-couch"></i>
                                                Living Room
                                                <i class="fa fa-chevron-right"></i>
                                            </div>
                                            <!-- All Living Items in a UL list -->
                                            <ul class="pushNav pushNav_Level_Right js-pushNavLevelBack">

                                                <!-- Back Button -->
                                                <li class="nav-title closeLevel js-closeLevel hdg">
                                                    <i class="fa fa-chevron-left"></i>
                                                    Go Back
                                                </li>

                                                <!-- Link 1 -->
                                                <li>
                                                    <a href="{% url 'category' 'Sofa' %}">
                                                        <i class="fa-solid fa-couch"></i>
                                                        Sofas
                                                    </a>
                                                </li>

                                                <!-- Link 7 -->
                                                <li>
                                                    <a href="#">
                                                        <i class="fa-solid fa-border-all"></i>
                                                        All Living Room Furniture
                                                    </a>
                                                </li>

                                            </ul>

                                        </li>

                                    </ul>

                                </li>

                            </ul>
                            <!-- Home & Furniture Section End -->

                        </li>


                        <!-- List Item Link -->
                        {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'logout' %}">
                                <i class="fa-solid fa-right-from-bracket"></i>
                                Logout
                                <div class=""></div>
                            </a>
                        </li>
                        {% endif %}

                    </ul>


                </nav>



            </div>

        </div>




    </header>

    <!-- MESSAGES -->
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-dismissible fade show 
        {% if message.tags == 'success' %}alert-success
        {% elif message.tags == 'warning' %}alert-warning
        {% else %}alert-info
        {% endif %}" role="alert">
        <div class="message-wrapper">
            {{ message|linebreaksbr }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>
    </div>
    {% endfor %}
    {% endif %}


    <!-- MAIN -->
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <!-- FOOTER -->
    <footer>
        <div class="footer-wrapper container">

            <div class="footer-section">

                <p class="text-muted">

                    LotsOfPresents: Your one-stop shop for gifts, gadgets, and accessories. Explore personalized items,
                    home decor, and more. Enjoy convenient payment and shipping options for a hassle-free shopping
                    experience.
                </p>


                <ul class="footer-icons">

                    <li>
                        <a href="https://www.facebook.com/" target="_blank" aria-label="Facebook link">
                            <i class="fa-brands fa-square-facebook"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.instagram.com/_kingofcuts_/?hl=en-gb" target="_blank"
                            aria-label="Instagram link">
                            <i class="fa-brands fa-square-instagram"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.snapchat.com/" target="_blank" aria-label="Snapchat Link">
                            <i class="fa-brands fa-square-snapchat"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://github.com/CodeLegg" target="_blank" aria-label="Github Link">
                            <i class="fa-brands fa-square-github"></i>
                        </a>
                    </li>

                </ul>

                <p class="text-muted">Copyright © 2024 LotsOfPresents®</p>
                <hr> 
                <p><span class="text-muted">All Rights Reserved.</span></p>
                <p><small class="text-muted">Developed by CodeLegg</small></p>




            </div>

        </div>
    </footer>

    <!-- JS SCRIPT -->
    <script src="{% static 'js/script.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js"
        integrity="sha512-ykZ1QQr0Jy/4ZkvKuqWn4iF3lqPZyij9iRv6sGqLRdTPkY69YX6+7wvVGmsdBbiIfN/8OdsI7HABjvEok6ZopQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    <!-- Variables From JS -->
    <script>
        let productList = "{% url 'product_list' %}";
        let csrfToken = '{{ csrf_token }}';
    </script>

    <!-- JS Script -->
    <script src="{% static 'js/searchproducts.js' %}"></script>


</body>

</html>