<!-- beds.html -->
{% extends 'base.html' %}

{% block title %}Beds{% endblock %}

{% block breadcrumbs %}

<!-- Breadcrumbs -->
<li>
    <a class="nav-title breadcrumb hdgbread" href="{% url 'allbedroomfurniture' %}">
        <i class="fa fa-chevron-left"></i>
        All Bedroom Furniture
    </a>
</li>

{% endblock %}

<!-- Content for Beds Page -->

{% block content %}

<div class="container">
    <!-- Page Title -->
    <h1> Bedframes </h1>


    <!-- Category Image -->
    <div class="image-wrapper">
        <img class="category-image" src="https://via.placeholder.com/344x230/ff69b4/ffffff?text=Placeholder+Image"
            alt="Placeholder Image">
        <div class="category-image-desc">
            Quality beds for sale: Comfort, style, and affordability combined.
        </div>
    </div>
        <!-- Filter Meny -->

        <form method="GET">
            <select name="price_filter">
                <option value="">Select price range</option>
                {% for price_range in price_ranges %}
                    <option value="{{ product.price }}">{{ product.price }}</option>
                {% endfor %}
            </select>
            <button type="submit">Filter</button>
        </form>
        
        {% for product in products %}
      
        {% endfor %}
        
          


    <div class="item-card-grid">
        {% for product in products %}
            {% if product.is_sale %}
                <div class="item-card">
                    <div class="sale-badge">
                        SALE
                      </div>
                      
                    <img src="{{ product.image.url }}" alt="Product 1">
                    <div class="card-content">
                        <h3 class="card-title">{{ product.name }}</h3>
                        <div class="review-stars">
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span>
                            <span class="star">&#9734;</span> <!-- Example of an empty star for a 4-star rating -->
                        </div>
                        <p class="card-desc">In: {{ product.category }} <br> {{ product.description }}</p>
                        <p class="card-desc"><strike>£{{ product.price }}</strike> &nbsp; £{{ product.sale_price }}</p>
                        <a href="#" class="buy-btn">Add to Cart</a>
                    </div>
                </div>
                
            {% else %}

                <div class="item-card">
                    <img src="{{ product.image.url }}" alt="Product 2">
                    <div class="card-content">
                        <h3 class="card-title">{{ product.name }}</h3>
                        <div class="review-stars">
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span>
                            <span class="star">&#9734;</span> <!-- Example of an empty star for a 4-star rating -->
                        </div>
                        <p class="card-desc">In: {{ product.category }} <br> {{ product.description }}</p>
                        <p class="card-desc">£{{ product.price }}</p>
                        <a href="#" class="buy-btn">Add to Cart</a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    
    
    
    {% endblock %}