<!-- beds.html -->
{% extends 'base.html' %}

{% block title %}Beds{% endblock %}

{% block breadcrumbs %}

<!-- Breadcrumbs -->
<li>
    <a class="nav-title breadcrumb hdgbread" href="{% url 'allbedroomfurniture' %}">
        <i class="fa fa-chevron-left"></i>
        All Bedroom Furniture
    </a>
</li>

{% endblock %}

<!-- Content for Beds Page -->

{% block content %}

<div class="container">
    <!-- Page Title -->
    <h1> Beds </h1>

    <!-- Category Image -->
    <div class="image-wrapper">
        <img class="category-image" src="https://via.placeholder.com/344x230/ff69b4/ffffff?text=Placeholder+Image"
            alt="Placeholder Image">
        <div class="category-image-desc">
            Quality beds for sale: Comfort, style, and affordability combined.
        </div>
    </div>

    <!-- Thin Cards Categories -->
    <div class="thin-cards">
        <!-- Thin Category Cards -->
        <div>
            <br>
            <h4>Beds by Type</h4>
            <a href="{% url 'bedframes' %}">
                <div class="card" style="width: 345px; height: 80px;">
                    <div class="category-thin-card">
                        <div class="category-info">
                            Bed frames
                            <i class="fa fa-chevron-right"></i>
                        </div>
                        <img class="category-image-small"
                            src="https://via.placeholder.com/114x78/ff69b4/ffffff?text=Placeholder+Image">
                    </div>
                </div>
            </a>
            <div class="card" style="width: 345px; height: 80px;">
                <div class="category-thin-card">
                    <div class="category-info">
                        Divan beds
                        <i class="fa fa-chevron-right"></i>
                    </div>
                    <img class="category-image-small"
                        src="https://via.placeholder.com/114x78/ff69b4/ffffff?text=Placeholder+Image">
                </div>
            </div>
            <div class="card" style="width: 345px; height: 80px;">
                <div class="category-thin-card">
                    <div class="category-info">
                        Storage beds
                        <i class="fa fa-chevron-right"></i>
                    </div>
                    <img class="category-image-small"
                        src="https://via.placeholder.com/114x78/ff69b4/ffffff?text=Placeholder+Image">
                </div>
            </div>
            <div class="card" style="width: 345px; height: 80px;">
                <div class="category-thin-card">
                    <div class="category-info">
                        Folding Beds
                        <i class="fa fa-chevron-right"></i>
                    </div>
                    <img class="category-image-small"
                        src="https://via.placeholder.com/114x78/ff69b4/ffffff?text=Placeholder+Image">
                </div>
            </div>
            <div class="card" style="width: 345px; height: 80px;">
                <div class="category-thin-card">
                    <div class="category-info">
                        Kids beds
                        <i class="fa fa-chevron-right"></i>
                    </div>
                    <img class="category-image-small"
                        src="https://via.placeholder.com/114x78/ff69b4/ffffff?text=Placeholder+Image">
                </div>
            </div>
            <div class="card" style="width: 345px; height: 80px;">
                <div class="category-thin-card">
                    <div class="category-info">
                        Day beds
                        <i class="fa fa-chevron-right"></i>
                    </div>
                    <img class="category-image-small"
                        src="https://via.placeholder.com/114x78/ff69b4/ffffff?text=Placeholder+Image">
                </div>
            </div>
        </div>
        <!-- Thin Category Cards -->
        <div>
            <br>
            <h4>Beds by Size</h4>
            <div class="card" style="width: 345px; height: 80px;">
                <div class="category-thin-card">
                    <div class="category-info">
                        Single Beds
                        <i class="fa fa-chevron-right"></i>
                    </div>
                    <img class="category-image-small"
                        src="https://via.placeholder.com/114x78/ff69b4/ffffff?text=Placeholder+Image">
                </div>
            </div>
            <div class="card" style="width: 345px; height: 80px;">
                <div class="category-thin-card">
                    <div class="category-info">
                        Small double beds
                        <i class="fa fa-chevron-right"></i>
                    </div>
                    <img class="category-image-small"
                        src="https://via.placeholder.com/114x78/ff69b4/ffffff?text=Placeholder+Image">
                </div>
            </div>
            <div class="card" style="width: 345px; height: 80px;">
                <div class="category-thin-card">
                    <div class="category-info">
                        Double Beds
                        <i class="fa fa-chevron-right"></i>
                    </div>
                    <img class="category-image-small"
                        src="https://via.placeholder.com/114x78/ff69b4/ffffff?text=Placeholder+Image">
                </div>
            </div>
            <div class="card" style="width: 345px; height: 80px;">
                <div class="category-thin-card">
                    <div class="category-info">
                        King size beds
                        <i class="fa fa-chevron-right"></i>
                    </div>
                    <img class="category-image-small"
                        src="https://via.placeholder.com/114x78/ff69b4/ffffff?text=Placeholder+Image">
                </div>
            </div>
            <div class="card" style="width: 345px; height: 80px;">
                <div class="category-thin-card">
                    <div class="category-info">
                        Super king size beds
                        <i class="fa fa-chevron-right"></i>
                    </div>
                    <img class="category-image-small"
                        src="https://via.placeholder.com/114x78/ff69b4/ffffff?text=Placeholder+Image">
                </div>
            </div>
        </div>
        <!-- Thin Category Cards -->
        <div>
            <br>
            <h4>Mattresses and Headboards</h4>
            <div class="card" style="width: 345px; height: 80px;">
                <div class="category-thin-card">
                    <div class="category-info">
                        Mattresses
                        <i class="fa fa-chevron-right"></i>
                    </div>
                    <img class="category-image-small"
                        src="https://via.placeholder.com/114x78/ff69b4/ffffff?text=Placeholder+Image">
                </div>
            </div>
            <div class="card" style="width: 345px; height: 80px;">
                <div class="category-thin-card">
                    <div class="category-info">
                        Headboards
                        <i class="fa fa-chevron-right"></i>
                    </div>
                    <img class="category-image-small"
                        src="https://via.placeholder.com/114x78/ff69b4/ffffff?text=Placeholder+Image">
                </div>
            </div>
            <div class="card" style="width: 345px; height: 80px;">
                <div class="category-thin-card">
                    <div class="category-info">
                        Mattress toppers
                        <i class="fa fa-chevron-right"></i>
                    </div>
                    <img class="category-image-small"
                        src="https://via.placeholder.com/114x78/ff69b4/ffffff?text=Placeholder+Image">
                </div>
            </div>
        </div>
    </div>

    <!-- First Slider -->
    <div class="slider">

        <h2>Brands we know you'll love</h2>
        <!-- Carousel Sliders Here -->

        <div class="slider-container">
            <div class="slider-wrapper">
                <button id="prev-slide" class="slide-button"><i class="fa-solid fa-chevron-left"></i></button>
                <div class="image-list">
                    <img src="/static/images/home-grid-1.png" alt="" class="image-item">
                    <img src="/static/images/home-grid-1.png" alt="" class="image-item">
                    <img src="/static/images/home-grid-1.png" alt="" class="image-item">
                    <img src="/static/images/home-grid-1.png" alt="" class="image-item">
                    <img src="/static/images/home-grid-1.png" alt="" class="image-item">
                    <img src="/static/images/home-grid-1.png" alt="" class="image-item">
                    <img src="/static/images/home-grid-1.png" alt="" class="image-item">
                    <img src="/static/images/home-grid-1.png" alt="" class="image-item">
                    <img src="/static/images/home-grid-1.png" alt="" class="image-item">
                    <img src="/static/images/home-grid-1.png" alt="" class="image-item">
                </div>
                <button id="next-slide" class="slide-button"><i class="fa-solid fa-chevron-right"></i></button>
            </div>


            <div class="slider-scrollbar">
                <div class="scrollbar-track">
                    <div class="scrollbar-thumb"></div>
                </div>
            </div>

        </div>


    </div>

    <br>

    <!-- Second Slider -->
    <div class="second-slider">
        <h2>Our favourites</h2>
        <!-- Second Slider -->
        <div class="second-slider-container">
            <div class="second-slider-wrapper">
                <button id="prev-slide-second" class="second-slide-button"><i
                        class="fa-solid fa-chevron-left"></i></button>
                <div class="second-image-list">
                    <img src="/static/images/home-grid-1.png" alt="" class="image-item-second">
                    <img src="/static/images/home-grid-1.png" alt="" class="image-item-second">
                    <img src="/static/images/home-grid-1.png" alt="" class="image-item-second">
                    <img src="/static/images/home-grid-1.png" alt="" class="image-item-second">
                    <img src="/static/images/home-grid-1.png" alt="" class="image-item-second">
                    <img src="/static/images/home-grid-1.png" alt="" class="image-item-second">
                    <img src="/static/images/home-grid-1.png" alt="" class="image-item-second">
                    <img src="/static/images/home-grid-1.png" alt="" class="image-item-second">
                    <img src="/static/images/home-grid-1.png" alt="" class="image-item-second">
                    <img src="/static/images/home-grid-1.png" alt="" class="image-item-second">
                </div>
                <button id="next-slide-second" class="second-slide-button"><i
                        class="fa-solid fa-chevron-right"></i></button>
            </div>

            <div class="second-slider-scrollbar">
                <div class="second-scrollbar-track">
                    <div class="second-scrollbar-thumb"></div>
                </div>
            </div>

        </div>
    </div>

</div>

{% endblock %}