<!-- beds.html -->
{% extends 'base.html' %}

{% block title %}Beds{% endblock %}

{% block breadcrumbs %}

<!-- Breadcrumbs -->
<li>
    <a class="nav-title breadcrumb hdgbread" href="{% url 'category' 'Bedroom' %}">
        <i class="fa fa-chevron-left"></i>
        All Bedroom Furniture
    </a>
</li>

{% endblock %}

<!-- Content for Beds Page -->

{% block content %}

<div class="container">
    <!-- Page Title -->
    <h1> {{ category.name }} </h1>

    <!-- Category Image -->
    <div class="image-wrapper">
        <img class="category-image" src="https://via.placeholder.com/344x230/ff69b4/ffffff?text=Placeholder+Image"
            alt="Placeholder Image">
        <div class="category-image-desc">
            Quality beds for sale: Comfort, style, and affordability combined.
        </div>
    </div>
   
    {% if type_categories %}
    <a href="">
        <div class="thin-cards">
            <h4>{{ category.name }} by type</h4>
            <!-- Thin Category Cards -->
            {% for child_category in type_categories %}
            <div class="card">
                <div class="category-thin-card">
                    <div class="category-info">
                        {{ child_category.name }}
                        <i class="fa fa-chevron-right"></i>
                    </div>
                    <img class="category-image-small" src="{{ child_category.image.url }}" alt="{{ child_category.name }} Image">
                </div>
            </div>
            {% endfor %}
        </div>
    </a>
    {% endif %}
    
    {% if size_categories %}
    <div class="thin-cards">   
        <h4>{{ category.name }} by size</h4>
        <!-- Thin Category Cards -->
        {% for child_category in size_categories %}
        <div class="card">
            <div class="category-thin-card">
                <div class="category-info">
                    {{ child_category.name }}
                    <i class="fa fa-chevron-right"></i>
                </div>
                <img class="category-image-small" src="{{ child_category.image.url }}" alt="{{ child_category.name }} Image">
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    
    

    <!-- First Slider -->
    <div class="slider">

        <h2>Brands we know you'll love</h2>
        <!-- Carousel Sliders Here -->

        <div class="slider-container">
            <div class="slider-wrapper">
                <button id="prev-slide" class="slide-button"><i class="fa-solid fa-chevron-left"></i></button>
                <div class="image-list">
                    <img src="/static/images/home-grid-1.png" alt="" class="image-item">
                    <img src="/static/images/home-grid-1.png" alt="" class="image-item">
                    <img src="/static/images/home-grid-1.png" alt="" class="image-item">
                    <img src="/static/images/home-grid-1.png" alt="" class="image-item">
                    <img src="/static/images/home-grid-1.png" alt="" class="image-item">
                    <img src="/static/images/home-grid-1.png" alt="" class="image-item">
                    <img src="/static/images/home-grid-1.png" alt="" class="image-item">
                    <img src="/static/images/home-grid-1.png" alt="" class="image-item">
                    <img src="/static/images/home-grid-1.png" alt="" class="image-item">
                    <img src="/static/images/home-grid-1.png" alt="" class="image-item">
                </div>
                <button id="next-slide" class="slide-button"><i class="fa-solid fa-chevron-right"></i></button>
            </div>


            <div class="slider-scrollbar">
                <div class="scrollbar-track">
                    <div class="scrollbar-thumb"></div>
                </div>
            </div>

        </div>


    </div>

    <br>

    <!-- Second Slider -->
    <div class="second-slider">
        <h2>Our favourites</h2>
        <!-- Second Slider -->
        <div class="second-slider-container">
            <div class="second-slider-wrapper">
                <button id="prev-slide-second" class="second-slide-button"><i
                        class="fa-solid fa-chevron-left"></i></button>
                <div class="second-image-list">
                    <img src="/static/images/home-grid-1.png" alt="" class="image-item-second">
                    <img src="/static/images/home-grid-1.png" alt="" class="image-item-second">
                    <img src="/static/images/home-grid-1.png" alt="" class="image-item-second">
                    <img src="/static/images/home-grid-1.png" alt="" class="image-item-second">
                    <img src="/static/images/home-grid-1.png" alt="" class="image-item-second">
                    <img src="/static/images/home-grid-1.png" alt="" class="image-item-second">
                    <img src="/static/images/home-grid-1.png" alt="" class="image-item-second">
                    <img src="/static/images/home-grid-1.png" alt="" class="image-item-second">
                    <img src="/static/images/home-grid-1.png" alt="" class="image-item-second">
                    <img src="/static/images/home-grid-1.png" alt="" class="image-item-second">
                </div>
                <button id="next-slide-second" class="second-slide-button"><i
                        class="fa-solid fa-chevron-right"></i></button>
            </div>

            <div class="second-slider-scrollbar">
                <div class="second-scrollbar-track">
                    <div class="second-scrollbar-thumb"></div>
                </div>
            </div>

        </div>
    </div>

</div>

{% endblock %}