<!-- beds.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block breadcrumbs %}
<!-- No breadcrumbs needed for home page -->
{% endblock %}

{% block content %}


<div class="home-grid-container">
    
    <a href="">
        <div class="home-grid-item"></div>
    </a>
    
    <a href="">
        <div class="home-grid-item">
            <div class="grid-item-text">Washing Machines</div>
        </div>
    </a>
    
    <a href="">
        <div class="home-grid-item"></div>
    </a>
    
    <a href="">
        <div class="home-grid-item">
            <div class="grid-item-text">Bedroom Furniture</div>
        </div>
    </a>

</div>



{% endblock %}