<!-- beds.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block breadcrumbs %}
    <!-- No breadcrumbs needed for home page -->
{% endblock %}

{% block content %}


    <div class="home-grid-container">
        <div class="container">
            <div class="home-grid-item"></div>
            <div class="home-grid-item"></div>
            <div class="home-grid-item"></div>
            <div class="home-grid-item"></div>
            <div class="home-grid-item"></div>
            <div class="home-grid-item"></div>
        </div>
      </div>


{% endblock %}
