<!-- beds.html -->
{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block breadcrumbs %}
{% endblock %}


{% block content %}


<div class="auth-container">
    <div class="auth">
        <div class="signin-signup">
            <form method="POST" action="{% url 'login' %}" class="sign-in-form">
                {% csrf_token %}
                <h2 class="welcome">Welcome Back!</h2>
                <h2 class="title">Sign in</h2>
                <div class="input-field">
                    <i class="fas fa-user"></i>
                    {{ login_form.username }}
                </div>
                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    {{ login_form.password }}
                </div>
                <input type="hidden" name="next" value="{{ next }}">
                <input type="submit" name="login" value="Login" class="btn">
                <p class="account-text">Don't have an account? <a id="sign-up" href="{% url 'register' %}?next={{ next }}">Sign up</a></p>
            </form>
        </div>
    </div>
</div>

{% endblock %}
