<!-- beds.html -->
{% extends 'base.html' %}

{% block title %}Beds{% endblock %}

{% block breadcrumbs %}

<!-- Breadcrumbs -->
<li>
    <a class="nav-title breadcrumb hdgbread" href="{% url 'category' parent_category.name %}">
        <i class="fa fa-chevron-left"></i>
        All {{ parent_category.name }}
    </a>
</li>



{% endblock %}

<!-- Content for Beds Page -->

{% block content %}

<style>
    :root {
        --num-products: {{ product.images.all|length }};
    }
</style>

<section>
    <div class="container">

        <div class="row">
            <br>
            <h1>{{ product.name }}</h1>

            <div class="product-review-stars">
                {% for num in stars_range %}
                {% if num <= average_rating %}
                <span class="star">&#9733;</span> <!-- Filled star -->
                {% else %}
                <span class="star">&#9734;</span> <!-- Empty star -->
                {% endif %}
                {% endfor %}
                <a class="product-review-link" href="#reviews">Read Reviews (<span
                        id="review-count">{{ reviews.count }}</span>)</a>
            </div>



            <div class="product-slider">
                <!-- Carousel Sliders Here -->
                <div class="product-slider-container">
                    <div class="product-slider-wrapper">
                        <button id="prev-slide" class="slide-button"><i class="fa-solid fa-chevron-left"></i></button>
                        <div class="image-list">
                            {% for image in product.images.all %}
                            <img src="{{ image.image.url }}" alt="{{ product.name }} Image" class="image-item">
                            {% endfor %}
                        </div>
                        <button id="next-slide" class="slide-button"><i class="fa-solid fa-chevron-right"></i></button>
                    </div>

                    <!-- Thumbnails Container -->
                    <div class="product-thumbnails-container">
                        <!-- Thumbnail Images Here -->
                        {% for image in product.images.all %}
                        <img src="{{ image.image.url }}" alt="{{ product.name }} Image" class="thumbnail-item">
                        {% endfor %}

                    </div>

                </div>
            </div>

            <div class="product-description">
                {% if product.is_sale %}
                <h3 class="product-price">
                    <strike>
                        £{{ product.price }}
                    </strike>
                    &nbsp;
                    £{{ product.sale_price }}
                </h3>
                {% else %}
                <div class="price-stock">
                    <h3 class="product-price">£{{ product.price }}</h3>
                    <div class="stock-txt-icon"><small>In Stock</small>
                                <i class="fa-solid fa-box-check"></i>
                            </div>
                </div>
                {% endif %}

                <div class="stock-cart-wrapper">
                    <!-- Quantity -->
                    <div class="select-wrapper">
                        <div class="quan">
                            <label for="quantity">Quantity</label>
                            <select id="quantity-cart" name="quantity">
                                {% for i in quantity_range %}
                                    <option value="{{ i }}">{{ i }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <!-- Color -->
                        <div class="color">
                            <label for="Color">Color</label>
                            <select id="Color" name="Color">
                                {% if product.colors.exists %}
                                {% for color in product.colors.all %}
                                <option value="{{ color.id }}">{{ color.name }}</option>
                                {% endfor %}
                                {% else %}
                                <option value="N/A" disabled selected>N/A</option>
                                {% endif %}
                            </select>

                        </div>
                    </div>
                    <!-- add to cart -->
                    <div class="select-wrapper">
                            
                        <button value="{{ product.id }}" id="add-cart" class="cart-btn">
                            Add to cart
                        </button>
                    <a href="{% url 'cart_summary' %}"  class="cart-btn-product">
                            View cart
                            </a>
                        
                    </div>
                </div>

                <div class="border-product product-social-wrapper">
                    <h5 class="product-title">Share it</h5>
                    <div class="product-icon">
                        <ul class="product-social">
                            <li><a href="#"><i class="fa-brands fa-square-facebook"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-square-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-square-x-twitter"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-square-instagram"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-discord"></i></a></li>
                        </ul>
                    </div>
                </div>

                <br>

                <div class="border-product">
                    <h6 class="product-title">Product details</h6>
                    <p>{{ product.description }}</p>
                </div>

                <div class="border-product-tabs">
                    <div class="pagination-tabs">
                        <button class="tablink active" onclick="openPage('about', this)">About this product</button>
                        <button class="tablink" onclick="openPage('reviews', this)">Reviews</button>
                        <button class="tablink" onclick="openPage('questions', this)">Questions and Answers</button>
                    </div>
                    <div id="about" class="tab-content">
                        <ul class="custom-list">
                            <li class="list-item">
                                <h4>{{ product.name }}</h4>
                                <ul class="sub-list">
                                    <li class="sub-item">{{ product.about_this_product }}</li>
                                    <h4>Dimensions</h4>
                                    <li class="sub-item">
                                        <ul>
                                            <li>H - {{ product.dimension_h }}</li>
                                            <li>D - {{ product.dimension_d }}</li>
                                            <li>W - {{ product.dimension_w }}</li>
                                            <li>DFF - {{ product.dimension_dff }}</li>
                                        </ul>
                                    </li>
                                    <h4>Material</h4>
                                    <li class="sub-item">{{ product.material }}</li>
                                    {% if product.colors.exists %}
                                    <h4>Colours</h4>
                                    <li class="sub-item">
                                        <ul>
                                            {% for color in product.colors.all %}
                                            <li>{{ color.name }}</li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                    {% else %}
                                    <li class="sub-item">Color: N/A</li>
                                    {% endif %}
                                </ul>
                            </li>
                        </ul>
                    </div>

                    <div id="reviews" class="tab-content">
                        <h3>Latest Reviews</h3>
                        
                        <ul>
                            <!-- Check if there are reviews -->
                            {% if reviews %}
                            <!-- Display existing reviews -->
                            {% for review in reviews %}
                            
                            <div>
                                
                                <div class="user-reviews">
                                    <strong>
                                    <p class="user-reviews-title">By: {{ review.user }}</p>
                                    </strong>
                                    <small>
                                        <p class="user-reviews-rating">Rating: {{ review.star_rating }} Stars</p>
                                    </small>
                                    <small>
                                        <p class="user-reviews-date">Posted: {{ review.date_posted }} </p>
                                    </small>
                                    <p class="user-reviews-text">{{ review.text }}</p>
                                </div>

                                <!-- Check if the current review belongs to the logged-in user -->
                                {% if request.user == review.user %}
                                
                                <h3>Edit Your Review</h3>
                                
                                <!-- Edit form for the current review -->
                                <form method="post" action="{% url 'product' pk=product.pk %}">
                                    {% csrf_token %}
                                    {{ edit_form.as_p }}
                                    <input type="hidden" name="edit_review" value="{{ review.pk }}">
                                    <button class="buy-btn" type="submit">Edit Review</button>
                                </form>

                                <!-- Delete form for the current review -->
                                <h3 class="delete-review-title-top">Delete Your Review</h3>

                                <form method="post" action="{% url 'product' pk=product.pk %}"
                                    class="delete-review-form">
                                    {% csrf_token %}

                                    {{ delete_form.as_p }}
                                    <input type="hidden" name="delete_review" value="{{ review.pk }}">
                                    <button class="delete-btn" type="submit">Delete Review</button>
                                </form>

                                {% endif %}
                            </div>
                            {% endfor %}
                            
                            <!-- If there are no reviews, display "No reviews yet" -->
                            {% else %}
                            <p>No reviews yet</p>
                            {% endif %}

                            <!-- Check if the user has not yet submitted a review -->
                            {% if not user_has_review %}
                            
                            <h3>Submit Your Review</h3>
                            
                            <!-- Form for adding a new review -->
                            <form method="post" action="{% url 'product' pk=product.pk %}">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button class="buy-btn" type="submit">Submit Review</button>
                            </form>
                            
                            {% endif %}
                        
                        </ul>



                    </div>
                    <div id="questions" class="tab-content">
                        <!-- Content for the "Questions and Answers" tab -->
                    </div>
                </div>

            </div>



        </div>
    </div>

</section>

<script>
    // cart 

    $(document).on('click', '#add-cart', function(e){
  e.preventDefault();
  $.ajax({
    type: 'POST',
    url: "{% url 'cart_add' %}",
    data: {
      product_id: $('#add-cart').val(),
      product_qty: $('#quantity-cart option:selected').text(),
      csrfmiddlewaretoken: '{{ csrf_token }}',
      action: 'post'
    },

    success: function(json){
            //console.log(json)
            document.getElementById("cart_quantity").textContent = json.qty
        },

    error: function(xhr, errmsg, err){
      // Handle error
    }
  });
});
</script>

{% endblock %}