<!-- beds.html -->
{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block breadcrumbs %}
<!-- Breadcrumbs -->
<li>
    <a class="nav-title breadcrumb hdgbread" href="{% url 'update_user' %}">
        <i class="fa fa-chevron-left"></i>
        Account
    </a>
</li>

{% endblock %}


{% block content %}

<!-- Container -->
<div class="auth-account-container">

    <!-- Auth Account -->
    <div class="auth-account">

        <!-- Signin Signup/No-Padding -->
        <div class="signin-signup no-padding">

            <!-- Line Break -->
            <br>

            <!-- Account Title -->
            <h1 class="account-title">Account Password <i class="fa-solid fa-gear"></i></h1>

            <!-- Account Sub-Title -->
            <h3 class="account-title">Change your password below.</h3>
            
            <!-- Line Break -->
            <br>
            
            <!-- Horizontal Rule -->
            <hr>

            <!-- Form -->
            <form method="POST" action="{% url 'update_password' %}" class="sign-up-form">
                {% csrf_token %}

                <!-- Change Password -->
                <h4>Change Password</h4>

                <!-- Input Field -->
                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    {{ form.new_password1 }}
                </div>

                <!-- Confirm Change -->
                <h4>Confirm change</h4>

                <!-- Input Field -->
                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    {{ form.new_password2 }}
                </div>

                <!-- Button -->
                <button class="btn large" type="submit">Change Password</button>

            </form>

        </div>

    </div>

</div>
{% endblock %}