<!-- beds.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block breadcrumbs %}
<!-- No breadcrumbs needed for home page -->
{% endblock %}

{% block content %}



<!-- Container -->
<div class="auth-account-container">
  <!-- Auth Account -->
  <div class="auth-account">
    <!-- Signin Signup/No-Padding -->
    <div class="signin-signup">
      <!-- Line Break -->
      <br>
      <!-- Account Title -->
      <h1 class="account-title">My Orders <i class="fa-solid fa-truck"></i></h1>
      <!-- Account Sub-Title -->
      <h3 class="account-title">Your pending & delivered orders</h3>
      <!-- Line Break -->
      <br>
      <!-- Horizontal Rule -->
      <hr>
      <!-- Account Title -->
      <br>
      <h2 class="account-title">Items Pending Delivery</h2>
      <h3 class="account-title">Your orders been processed</h3>

      <br>
      <table class="table table-striped table-hover table-bordered">
        <thead class="table-dark">
          <tr>
            <th scope="col">Order</th>
            <th scope="col">Price</th>
            <th scope="col">Date Ordered</th>
            <th scope="col">Un-Shipped</th>
          </tr>
        </thead>
        <tbody>
          {% if not_shipped_orders %}
          {% for item in not_shipped_orders %}
          <tr>
            <td><a href="{% url 'orders' item.id %}">{{ item.id }}</a></td>
            <td>£{{ item.amount_paid }}</td>
            <td><small>{{ item.date_ordered|date:"F j, Y" }}</small></td>
            <td>
              <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="shipping_status" value="shipped">
                <input type="hidden" name="num" value={{item.id}}>
                <button type="Submit" class="btn-small">Mark Shipped</button>
              </form>
            </td>
          </tr>
          {% endfor %}
          {% else %}
          <tr>
            <td colspan="4">No undelivered items found.</td>
          </tr>
          {% endif %}
        </tbody>

      </table>
      <br />
      <hr>
      <br />

      <h2 class="account-title">Delivered Items</h2>
      {% for item in shipped_orders %}
      <h3 class="account-title">Thanks for your order!</h3>
      {% endfor %}
      {% else %}
      <tr>
        <td colspan="4">Why not make an order?</td>
      </tr>
      {% endif %}
      <br>
      <table class="table table-striped table-hover table-bordered">
        <thead class="table-dark">
          <tr>
            <th scope="col">Order</th>
            <th scope="col">Price</th>
            <th scope="col">Date Shipped</th>
            <th scope="col">Shipped</th>
          </tr>
        </thead>
        <tbody>
          {% for item in shipped_orders %}
          <tr>
            <td><a href="{% url 'orders' item.id %}">{{ item.id }}</a></td>
            <td>£{{ item.amount_paid }}</td>
            <td><small>{{ item.date_ordered|date:"F j, Y" }}</small></td>
            <td>
              <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="shipping_status" value="not_shipped">
                <input type="hidden" name="num" value={{item.id}}>
                <button type="Submit" class="btn-small">Mark Unshipped</button>
              </form>
            </td>
          </tr>
          {% endfor %}
          {% else %}
          <tr>
            <td colspan="4">No undelivered items found.</td>
          </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
    <!-- Line Break -->
    <br>
  </div>
</div>
</div>
{% endblock %}